<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

<!-- SpringMVC的配置，包含网站跳转的逻辑配置 -->
    <context:component-scan base-package="cn.sai.controller" use-default-filters="false">
        <!-- 只扫描控制器，同时关闭默认设置 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 配置视图解析器，方便页面返回 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="commonsMultipartResolver">
        <property name="defaultEncoding" value="UTF=8"/>
        <property name="maxUploadSize" value="10000000"/>
    </bean>


    <!-- 处理静态资源 -->
    <mvc:resources mapping="/static/**" location="/static"/>
    
    <!-- 两个标准配置 -->
    <!-- 将SpringMVC不能处理的请求交给tomcat -->
    <mvc:default-servlet-handler />
    <!-- 开启MVC注解支持，能支持SpringMVC更高级的功能，JSR303校验，快捷的ajax。。。映射动态请求 -->
    <mvc:annotation-driven/>
</beans>